<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">First Name</th>
      <th scope="col">Email</th>
      <th scope="col">Readings</th>
      <th scope="col">Need to Confirm</th>
    </tr>
  </thead>
  <tbody>
    <% if can? :manage, User %>
      <% @users.each do |user| %>
        <tr>
          <th scope="row"><%= user.id %></th>
          <td><%= user.firstname %></td>
          <td><%= user.email %></td>
          <td>
            <div class="progress">
              <% if readings_progress(user.readings).to_f < 25 %>
                <div class="progress-bar bg-danger" role="progressbar" style="width: <%= readings_progress(user.readings) %>%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"><%= readings_progress(user.readings) %>%</div>
              <% elsif readings_progress(user.readings).to_f < 50 %>
                <div class="progress-bar bg-warning" role="progressbar" style="width: <%= readings_progress(user.readings) %>%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"><%= readings_progress(user.readings) %>%</div>
              <% elsif readings_progress(user.readings).to_f < 75 %>
                <div class="progress-bar bg-info" role="progressbar" style="width: <%= readings_progress(user.readings) %>%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"><%= readings_progress(user.readings) %>%</div>
              <% elsif readings_progress(user.readings).to_f >= 75 %>
                <div class="progress-bar bg-success" role="progressbar" style="width: <%= readings_progress(user.readings) %>%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"><%= readings_progress(user.readings) %>%</div>
              <% end %>
            </div>
          </td>
          <td>
            <!-- Some actions here -->
            <% if (can? :manage, User) && !user.confirmed? %>
              <%= link_to confirm_users_path(id: user.id) do %>
                <i class="fas fa-check-double"></i>
              <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
