<%= form_for spirit_charge, url: url, method: method, :html => {:class => "form-horizontal"} do |f| %>
  <% if f.object.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <%= f.object.errors.full_messages.join(", ") %>
    </div>
  <% end %>

  <div class="clearfix"></div>
  <div class="form-group">
    <label for="title">Title</label>
    <%= f.text_field :title, :class => "form-control", placeholder: 'Write your title here' %>
    <small id="emailHelp" class="form-text text-muted">*example: Kejadian 1-3</small>
  </div>

  <div class="form-group">
    <label for="title">Description</label>
    <%= f.text_area :description, :class => "form-control", placeholder: 'Write your description here' %>
    <small id="emailHelp" class="form-text text-muted">*example: This chapter told us about the creation of ...</small>
  </div>

  <div class="form-group right">
    <div class="col-sm-12">
      <%= link_to "Cancel", spirit_charges_path, :class => "btn btn-outline-info" %>
      <%= f.submit "Save Spirit", :class => "btn btn-primary" %>
    </div>
  </div>
<% end %>
