
<h1 class="display-4">
  Spirit Charge
  <p class="lead">For your spiritual recharge!</p>
</h1>
<div class="jumbotron bg-bible">
  <div style="width: 100%" class="right btn-new">
    <% if can? :create, SpiritCharge %>
      <%= link_to 'New +', new_spirit_charge_path, class: 'btn btn-success bold' %>
    <% end %>
  </div>

  <h1 class="display-4">
    &nbsp;
  </h1>
  <p class="lead">
    &nbsp;
  </p>
  <p>&nbsp;</p>
</div>

<p>
  Yosua 1:8 (TB)<br/>
  Janganlah engkau lupa memperkatakan kitab Taurat ini, tetapi renungkanlah itu siang dan malam, supaya engkau bertindak hati-hati sesuai dengan segala yang tertulis di dalamnya, sebab dengan demikian perjalananmu akan berhasil dan engkau akan beruntung.
</p>

<%= paginate @spirit_charges %>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">Description</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <% if can? :read, SpiritCharge %>
      <% @spirit_charges.each_with_index do |spirit, index| %>
      <% #next if current_user.readings.map(&:spirit_charge_id).include?(spirit.id) %>
        <tr>
          <th scope="row"><%= spirit.id %></th>
          <td><%= spirit.title %></td>
          <td><%= spirit.description %></td>
          <td>
            <!-- Some actions here -->
            <%= link_to "<small>Read</small> <i class='fas fa-calendar-check' style='color: lime'></i>".html_safe, read_spirit_charges_path(spirit_charge_id: spirit), style: 'text-decoration: none; color: lime;' %>
            <% if can? :manage, SpiritCharge %>
              <%= link_to edit_spirit_charge_path(spirit) do %>
                <i class="fas fa-edit"></i>
              <% end %>
              <!-- <%= link_to spirit_charge_path(spirit), method: :delete, :data => { :title => 'Deleting Spirit', :confirm => 'Are you sure want to delete spirit?' } do %>
                <i class="fas fa-trash-alt" style="color: red"></i>
              <% end %> -->
            <% end %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
