<!DOCTYPE html>
<html>
  <head>
    <title>IGNITE</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="icon" type="image/png" href="/assets/logo.png">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  </head>
  <%= render 'layouts/head' %>
  <div class="clearfix">&nbsp</div>

  <body>
    <div class="container">
      <% if flash[:success].present? %>
        <div class="alert alert-success" role="alert">
          <%= flash[:success] %>
        </div>
      <% end %>
      <!-- Content here -->
      <%= yield %>
    </div>

  </body>
</html>
